$titleFont: 'Normal';
$bodyFont: 'Helvetica Neue';

$highlight: #ff9600;
$primary: #15668b;
$warning: #ff2a2a;

$textInverse: #fff;
$textInverseMuted: #e6e6e6;

$textNormal: #3d3d3d;
$textMuted: #474747;

$bgInverse: #0a223f;
$bgInverseDark: #161b27;
$bgPrimary: #ffffff;
$bgSecondary: #f5f5f5;
$bgTertiary: #ebebeb;
