{
    "presets": [
        "babel-preset-solid",
        // "@babel/transform-typescript",
        "@babel/typescript",
        "jest",
        [
            "@babel/env",
            {
                "modules": false
            }
        ]
    ]
}
